<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Endpoint" value=""/>
		<add key="Key" value=""/>
		<add key="DatabaseName" value="bixdb"/>
		<add key="ContainerName" value="client"/>
		<add key="SmtpServer" value=".net"/>
		<add key="SmtpPort" value="587"/>
		<add key="Email" value=".com"/>
		<add key="Password" value=""/>
		<add key="Environment" value="test"/>
		
	</appSettings>
</configuration>